@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600&family=Noto+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: keep-all;
    /* outline: 1px solid red; */
    text-decoration: none;
    list-style: none;
}
.material-symbols-outlined {
    font-size: 32px;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}
.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    height: 100vh;
    width: 100%;
    background: url(../img/index/back.png) 50% 50% / cover;
}
.search{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 30px;
    margin: auto;
}
.search.on{
    margin: 0;
}
input[type="text"]{
    width: 500px;
    font-size: 20px;
    font-family: 'Noto Sans Kr';
    font-weight: 400;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    background: none;
}
input::placeholder{
    color: #ffffffa1;
    font-weight: 300;
}
.search button{
    border: none;
    color: #fff;
    background: none;
}
.after{
    display: flex;
    flex-direction: column;
    height: 0;
    gap: 30px;
    overflow: hidden;
    background: #ffffffad;
    min-width: 1200px;
    opacity: 0;
    transform: translateY(20px);
}
.after.on{
    height: 100%;
    overflow: initial;
    padding: 20px 30px;
    opacity: 1;
    margin-bottom: 100px;
    transform: translateY(0px);
    transition: transform 0.5s ease-out;
    box-shadow: 0px 0px 10px 5px #5d467c7e;
}
.keyword{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
}
.keyword span{
    padding: 5px;
    font-family: "Noto Sans Kr";
    margin-right: 10px;
    color: #555;
}
.keyword p{
    /* background: #fefcff; */
    outline: 1px solid #baa9c9;
    padding: 4px 10px;
    color: #333;
    border-radius:50px;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.profile .right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right p{
    padding: 0 10px;
}
tbody td{
    padding: 5px 10px;
    letter-spacing: 1px;
    font-family: "Noto Sans Kr";
    font-weight: 600;
    font-size: 20px;
    color: #333;
}
tbody td:first-child{
    font-size: 14px;
    color: #555;
}
.works{
    overflow: hidden;
    height: 0;
    position: relative;
}
.works.on{
    width: 100%;
    height: 100vh;
}
.work{
    display: none;
}
.work.on{
    display: flex;
    width: 100%;
    height: 100%;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 180px;
    position: absolute;
    top: 100px;
    left: 50px;
}
.btns button{
    font-size: 18px;
    font-family: 'Noto Sans Kr';
    font-weight: 500;
    border: none;
    padding: 5px 0;
    background: none;
    border-radius: 20px;
    color: #BCC5CE;
    cursor: pointer;
}
.btns button.on{
    color: #729599;
    background: #eee;
}
.btns button:hover{
    color: #729599;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: end;
    padding: 100px;
    width: 100%;
    max-width: 1800px;
}
.content .img{
    width: 700px;
    height: 385px;
    overflow: hidden;
}
.content img{
    display: block;
    width: 100%;
}
.text{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text span{
    color: #fff;
    font-family: 'Noto Sans Kr';
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}
.text p{
    color: #e4dad1;
    font-size: 18px;
}
.text a{
    color: #977f6a;
    background: #dad6d3;
    text-align: center;
    width: 100px;
    border-radius: 3px;
    padding: 3px 0;
}
.text a:hover{
    color: #5e4d3e;
    background: #ece7e2;
}
/* .text a::before{
    content: '';
    background: ;
} */
.contact{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:200px;
    padding: 100px 0;
}
.contact.on{
    display: flex;
}
.contact .phe{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}
.phe > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.contact h1{
    -webkit-text-stroke: 1px #000;
    color: #fff;
    font-size: 60px;
}
.contact h2{
    font-size: 32px;
}
#lv-container{
    width: 100%;
    max-width: 1000px;
    height: 100%
}
#livereContainer * { 
    font-size: 13px; 
    /* color: #333333 !important;
    font-family: 'NanumGothicWeb' !important;
    border-color: #D0D0D0 !important; */
}