@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600&family=Noto+Sans:wght@500&display=swap');
/* 
    0. 반응형 끝내기 Δ
    1. 프로필 키워드 부사붙이기
    2. 프로필 레이아웃에 close 버튼추가 0
    3. index/on 두군데에 있는 bg를 main으로 옮기고(패럴랙스) 스크립트 on기능추가 0
    4. 댓글창 모달로 분리하여 팝업 0
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: keep-all;
    /* outline: 1px solid red; */
    text-decoration: none;
    list-style: none;
}
.material-symbols-outlined {
    font-size: 32px;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background: url(../img/index/blackback.png) 50% 50% / cover;
    background-attachment: fixed;
}
main.on{
    background: url(../img/index/blackbacksoft.png) 50% 50% / cover;
    background-attachment: fixed;
}
.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;    
    height: 100vh;
    width: 100%;
}
.index.on{
    padding: 20px;
}
.search{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 30px;
    margin: auto;
    width: 100%;
    max-width: 700px;
}
.search.on{
    margin: 0;
}
input[type="text"]{
    width: 100%;
    font-size: 20px;
    font-family: 'Noto Sans Kr';
    font-weight: 400;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    background: none;
}
input::placeholder{
    color: #ffffffa1;
    font-weight: 300;
}
.search button{
    border: none;
    color: #fff;
    background: none;
}
.after{
    display: flex;
    flex-direction: column;
    height: 0;
    gap: 30px;
    overflow: hidden;
    background: #ffffffad;
    max-width: 1200px;
    width: 100%;
    opacity: 0;
    justify-content: center;
    transform: translateY(20px);
}
.after.on{
    height: 100%;
    overflow: initial;
    padding: 20px 30px;
    opacity: 1;
    margin-bottom: 100px;
    transform: translateY(0px);
    transition: transform 0.5s ease-out;
    box-shadow: 0px 0px 10px 5px #1d153f5b;
    position: relative;
}
.after a{
    color: #555;
}
.after .close{
    color: #555;
    position: absolute;
    top: 10px;
    right: 10px;
}
.keyword{
    display: none;
    flex-direction: row;
    gap: 20px;
    padding: 0 0 20px 0;
    align-items: center;
}
.keyword.on{
    display: flex;
}
.keyword span{
    padding: 5px;
    font-family: "Noto Sans Kr";
    margin-right: 10px;
    color: #dadada;
}
.keyword p{
    /* background: #fefcff; */
    outline: 1px solid #d1c58d;
    padding: 4px 10px;
    color: #d3d3d3;
    border-radius:50px;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
.profile img{
    width: 250px;
    object-fit: cover;
}
.profile .right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
}
table{
    width: 250px;
}
tbody td{
    letter-spacing: 1px;
    font-family: "Noto Sans Kr";
    font-weight: 500;
    font-size: 20px;
    color: #333;
}
tbody td:first-child{
    font-size: 16px;
    color: #555;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intro p{
    font-size: 28px;
    font-family: 'Noto Sans Kr';
    font-weight: 500;
    color: #555;
    line-height: 1.3;
}
.intro span{
    font-size: 38px;
}
.intro h2{
    font-size: 15px;
    font-family: 'Noto Sans Kr';
    font-weight: 400;
    color: #333;
}
.works{
    overflow: hidden;
    height: 0;
    position: relative;
}
.works.on{
    width: 100%;
    height: 100vh;
}
.work{
    display: none;
}
.work.on{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.btns button{
    font-size: 18px;
    font-family: 'Noto Sans Kr';
    font-weight: 500;
    border: none;
    padding: 5px 0;
    background: none;
    width: 180px;
    border-radius: 20px;
    color: #BCC5CE;
    cursor: pointer;
}
.btns button.on{
    color: #729599;
    background: #eee;
}
.btns button:hover{
    color: #729599;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: end;
    padding: 100px;
    width: 100%;
    max-width: 1800px;
    align-items: center;
}
.content .img{
    width: 700px;
    height: 385px;
    overflow: hidden;
}
.content img{
    display: block;
    width: 100%;
}
.text{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text span{
    color: #fff;
    font-family: 'Noto Sans Kr';
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}
.text > div:nth-child(2) span{
    letter-spacing: 2px;
    font-size: 16px;
}
.text p{
    color: #e4dad1;
    font-size: 18px;
}
.text a{
    color: #977f6a;
    background: #dad6d3;
    text-align: center;
    width: 100px;
    border-radius: 3px;
    padding: 3px 0;
}
.text a:hover{
    color: #5e4d3e;
    background: #ece7e2;
}
/* .text a::before{
    content: '';
    background: ;
} */
.contact{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:200px;
    padding: 100px 20px;
}
.contact.on{
    display: flex;
    position: relative;
}
.contact .phe{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}
.phe > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.contact h1{
    -webkit-text-stroke: 1px #fff;
    color: #ffffff00;
    font-size: 80px;
}
.contact h2{
    font-size: 45px;
    color: #fff;
}
.contact .sms{
    font-size: 46px;
    color: #dad6d3;
    cursor: pointer;
    z-index: 100;
}
.contact .reply{
    width: 100%;
    max-width: 1000px;
    height: 500px;
    padding: 20px;
    background: #e2e2e2e0;
    position: absolute;
    border-radius: 10px;
    overflow-y: auto;
    margin: 0 20px;
    transform: translateY(25px);
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.contact .reply.on{
    opacity: 100;
    transform: translateY(0);
    transition: all 0.5s ease;
    z-index: 101;
}
.contact .close2{
    cursor: pointer;
}
#lv-container{
    width: 100%;
}
.trc_related_container {
    clear: both;
    display: none;
}
@media screen and (max-width:900px){
    .profile{
        flex-direction: column;
    }
    .btns{
        flex-direction: row;
    }
    .btns button{
        width: 150px;
    }
    .content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 100px 50px;
    }
    .content .img{
        width: 100%;
        order: 1;
    }
    .content .text{
        order: 2;
        width: 100%;
        gap: 20px;
    }
    .contact{
        gap: 100px;
    }
    .contact .phe{
        flex-direction: column;
        gap: 20px;
    }
}