@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    word-break: keep-all;
    text-decoration: none;
    list-style: none;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.top{
    position: relative;
    line-height: 0;
    width: 100%;
    height: 95px;
    background: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.top > :nth-child(1){
    position: absolute;
    left: calc(50% - 160px/2);
    top: 16px;
}
.top > :nth-child(2){
    position: absolute;
    right: 53px;
    top: calc(50% - 27px/2);
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}
.icon{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 18px;
}
.link > a:nth-of-type(1){
    padding: 7px 18px;
    border-left : 1px solid #979797;
    border-right: 1px solid #979797;
}
.link > a:nth-of-type(2){
    position: relative;
    padding-left: 28px;
}
.link > a:nth-of-type(2)::before{
    content: url(../img/sungsimdang/basket-outline.svg);
    top: -11px;
    left: 0px;
    position: absolute;
}
.top a{
    color: #fff;
}
.gnb input[type=checkbox]{
    display: none;
}
.gnb input[type=checkbox] + label > span.open {
    display: block;
    cursor: pointer;
}
.gnb input[type=checkbox] + label > span.close {
    display: none;
}
.gnb input[type=checkbox]:checked + label > span.open {
    display: none;
}
.gnb input[type=checkbox]:checked + label > span.close {
    display: block;
    cursor: pointer;
}
.gnb > label{
    display: none;
    color: #fff;
    position: absolute;
    top: calc(50% - 24px/2);
    right: 20px;
}
.gnb{
    width: 100%;
    background: #000;
}
.gnb > ul{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 40px;
    padding: 0 70px;
}
.gnb > ul li{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.gnb a span{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: 'Noto Serif', serif;
    position: relative;
}
.gnb a span::after{
    content: '';
    position: absolute;
    width: 0;
    bottom: -6px;
    left: 0;
    border-bottom: 3px solid;
}
.gnb1 > div,
.gnb2 > div,
.gnb4 > div{
    position: relative;
}
.sub{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 6px;
    left: -120px;
    width: 240px;
}
.gnb .sub li{
    background: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.gnb > ul > li:hover span{
    color: #F5CC97;
}
.gnb > ul > li:hover ul.sub{
    display: flex;
    transition: all ;
}
.gnb > ul > li:nth-child(2) span{
    color: #F5CC97;
}
.gnb > ul > li:nth-child(2) span::after{
    border-bottom: 3px solid #F5CC97;
    transition: width 0.5s 0.5s;
    transform: translateX(-50%);
    width: 110%;
    bottom: -6px;
    left: 50%;
}
.gnb > ul > li:hover span::after{
    border-bottom: 3px solid #F5CC97;
    transition: width 0.5s;
    transform: translateX(-50%);
    width: 110%;
    bottom: -6px;
    left: 50%;
}
.gnb .sub li:hover{
    background: #F5CC97;
}
.gnb .sub li:hover a{
    color: #fff;
    font-weight: 500;
}
.gnb .sub li a{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #000;
    width: 100%;
    text-align: center;
}
.nav{
    width: 1280px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav img{
    object-fit: fill;
}
.nav a{
    display: flex;
    align-items: center;
}
.nav span:first-of-type{
    font-family: 'Noto Serif';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.nav span:last-of-type{
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.nav span:first-of-type::after{
    content: '';
    display: inline-block;
    background: #000;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 0 0 3px 10px;
}
.sec01{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    gap: 50px;
    padding: 0 10px;
}
.textbox h2{
    font-family: 'Noto Serif KR';
    font-weight: 700;
    font-size: 40px;
}
.textbox h3{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.sec01 .img{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.sec01 .img > div{
    flex: 1 1 40%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sec01 .img > div p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
}
.sec01 .img > div:hover p{
    opacity: 100;
    transition: all 0.5s;
    transform: translateY(0px);
}
.sec01 .img > div:nth-child(1){
    background: url(../img/sungsimdang/eco_people.png) no-repeat 50% 50% / cover;
    border-radius: 40px 0;
}
.sec01 .img > div:nth-child(1):hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sungsimdang/eco_people.png) no-repeat 50% 50% / cover;
}
.sec01 .img > div:nth-child(2){
    background: url(../img/sungsimdang/eco_love.png) no-repeat 50% 50% / cover;
    border-radius: 0 40px;
}
.sec01 .img > div:nth-child(2):hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sungsimdang/eco_love.png) no-repeat 50% 50% / cover;
}
.sec01 .img > div:nth-child(3){
    background: url(../img/sungsimdang/eco_green.png) no-repeat 50% 50% / cover;
    border-radius: 0 40px;
}
.sec01 .img > div:nth-child(3):hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sungsimdang/eco_green.png) no-repeat 50% 50% / cover;
}
.sec01 .img > div:nth-child(4){
    background: url(../img/sungsimdang/eco_child.png) no-repeat 50% 50% / cover;
    border-radius: 40px 0;
}
.sec01 .img > div:nth-child(4):hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sungsimdang/eco_child.png) no-repeat 50% 50% / cover;
}
.sec01 .img > div:nth-child(1) p::before{
    content: url(../img/sungsimdang/eco_groups.svg);
    display: block;
}
.sec01 .img > div:nth-child(2) p::before{
    content: url(../img/sungsimdang/eco_diversity.svg);
    display: block;
}
.sec01 .img > div:nth-child(3) p::before{
    content: url(../img/sungsimdang/eco_compost.svg);
    display: block;
}
.sec01 .img > div:nth-child(4) p::before{
    content: url(../img/sungsimdang/eco_volunteer.svg);
    display: block;
}
.sec02{
    margin: 100px 0;
    width: 100%;
    background: #E1EFE0;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}
.sec02 a{
    display: flex;
    padding: 10px 18px;
    gap: 10px;
    background: #688264;
    border-radius: 50px;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    justify-content: center;
}
.sec03{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.sec03 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
}
.sec03 h1, .sec03 h2{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.sec03 h1{
    font-size: 26px;
    padding: 10px;
    border-bottom: 2px solid #BC4400;
}
.sec03 ul{
    width: 100%;
    max-width: 1000px;
}
.sec03 ul li{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sec03 ul li a{
    color: #000;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #9E9E9E;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 17px;
}
.sec03 ul li a::after{
    content: '\25B8';
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec03 input[type=radio]{
    display: none;
}
.sec03 .button{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sec03 .button label{
    color: #A2A2A2;
}
.sec03 label:checked{
    color: #000;
}
.sec04{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
.sec04 > div{
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    gap: 10px;
}
.sec04 img{
    width: 100%;
}
.sec04 span{
    display: flex;
    position: absolute;
    width: 35px;
    height: 28px;
    top: calc(50% - 28px/2);
    left: calc(50% - 35px/2);
    padding: 0 0 2px 2px;
    background: #d62b00;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.sec04 span::before{
    content: '\25B6';
    color: #fff;
}
.sec04 a {
    width: 100%;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
}
.sec04 a > div{
    position: relative;
}
.sec04 h2{
    width: 100%;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    color: #000;
}
footer{
    background: #000;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    color: #999;
    display: flex;
    justify-content: center;
}
footer .inner{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 3%;
}
footer .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .left ul{
    display: flex;
}
footer .left ul a{
    color: #999;
}
footer .left ul li:last-child a{
    color: #F5CC97;
}
footer .left .text{
    letter-spacing: -0.06em;
}
footer .right{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}
footer .right h1{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #F5CC97;
}
footer .right h2{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
footer span{
    display: inline-block;
    width: 15px;
}
footer .right > div{
    display: flex;
    gap: 20px;
}
footer .right a:nth-of-type(1)::before{
    content: '';
    background: url(../img/sungsimdang/instagram.png) no-repeat 50% 50% / cover;
    width: 20px;
    height: 20px;
    display: block;
}
footer .right a:nth-of-type(2)::before{
    content: '';
    background: url(../img/sungsimdang/facebook.png) no-repeat 50% 50% / cover;
    width: 20px;
    height: 20px;
    display: block;
}
footer .right a:nth-of-type(3)::before{
    content: '';
    background: url(../img/sungsimdang/youtube.png) no-repeat 50% 50% / cover;
    width: 20px;
    height: 20px;
    display: block;
}
@media screen and (max-width:1280px) {
    .nav{
        width: 90%;
    }
    .sec01 .img > div{
        height: 200px;
        min-height: initial;
    }
    .sec01 .img > div p{
        display: flex;
        font-size: 29px;
    }
    .sec03 ul li a{
        font-size: 16px;
    }
    .sec04 > div{
        max-width: 1200px;
        width: 90%;
    }
    footer .left{
        width: 60%;
    }
}
@media screen and (max-width:1200px) {
    .gnb input[type=checkbox] + label {
        display: flex;
    }
    header .link{
        display: none;
    }
    .gnb > ul > li:hover span::after{
        border-bottom: initial;
    }
    .gnb > ul > li:hover ul.sub{
        display: none;
    }
    .gnb > ul {
        display: flex;
        position: fixed;
        width: 70%;
        height: 100vh;
        top: 95px;
        right: -100%;
        background: rgba(0, 0, 0, 0.85);
        color: #fff;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
        gap: 20px;
        z-index: 90;
        transition: all 0.5s ease;
        align-items: flex-start;
    }
    .gnb > ul > li{
        height: initial;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-flow: row wrap;
        padding: 15px 0;
        border-bottom: 1px solid #444;
    }
    .gnb > ul > li:nth-child(2) span::after{
        border-bottom: none;
    }
    .gnb > input[type=checkbox]:checked ~ ul {
        right: 0;
        transition: all 0.5s ease;
    }
    .gnb > input[type=checkbox]:checked
    .gnb > input[type=checkbox]:checked header .link{
        display: flex;
        z-index: 91;
    }
    .gnb > ul > li > label{
        order: 2;
    }
    .gnb > ul > li > a{
        margin-right: auto;
        order: 1;
    }
    .gnb > ul > li label::after{
        content: '\2228';
        color: #fff;
        display: block;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .gnb > ul > li > div{
        width: 100%;
        order: 3;
    }
    .gnb > ul > li input[type=checkbox]:checked ~ div .sub{
        display: flex;
        position: initial;
        padding: 10px 0;
    }
    .gnb > ul > li input[type=checkbox]:checked ~ a span{
        color: #F5CC97;
    }
    .gnb > ul > li input[type=checkbox]:checked ~ label::after{
        transform: rotate(180deg);
        transition: all 0.3s ease;
    }
    .gnb > ul span{
        font-size: 18px;
    }
    .gnb .sub  li a{
        color: #fff;
        font-weight: 500;
        text-align: start;
    }
    .gnb .sub li:hover{
        background: none;
    }
    .gnb .sub li:hover a{
        color: #fff;
        font-weight: 500;
    }
    .gnb .sub li{
        background: none;
        justify-content: flex-start;
        padding: 10px 20px;
    }
}
@media screen and (max-width:768px) {
    .textbox h2{
        font-size: 35px;
    }
    .textbox h3{
        font-size: 18px;
    }
    .sec01 .img{
        flex-direction: column;
    }
    .sec01 .img > div:nth-child(1),
    .sec01 .img > div:nth-child(2),
    .sec01 .img > div:nth-child(3),
    .sec01 .img > div:nth-child(4){
        border-radius: 20px 20px;
        min-height: 100px;
    }
    .sec01 .img > div{
        cursor: initial;
    }
    .sec01 .img > div p{
        font-size: 20px;
        opacity: 100;
        transform: translateY(0px);
    }
    .sec01 .img > div:hover p{
        opacity: 0;
        transition: none;
    }
    .sec01 .img > div:nth-child(1){
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sungsimdang/eco_people.png) no-repeat 50% 50% / cover;
    }
    .sec01 .img > div:nth-child(2){
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/sungsimdang/eco_love.png) no-repeat 50% 50% / cover;
    }
    .sec01 .img > div:nth-child(3){
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/sungsimdang/eco_green.png) no-repeat 50% 50% / cover;
    }
    .sec01 .img > div:nth-child(4){
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/sungsimdang/eco_child.png) no-repeat 50% 50% / cover;
    }
    .sec02{
        flex-direction: column;
    }
    .sec03 h1{
        font-size: 23px;
    }
    .sec03 h2{
        font-size: 20px;
    }
    .sec04{
        gap: 10px;
    }
    .sec04 h2{
        font-size: 14px;
    }
    footer .text{
        flex-direction: column;
        gap: 20px;
    }
    footer .left{
        width: 90%;
    }
    footer .left p,
    footer .left ul a{
        font-size: 14px;
    }
    footer .right{
        align-items: flex-start;
        width: 100%;
    }
}