@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: keep-all;
    /* outline: 1px solid red; */
    text-decoration: none;
    list-style: none;
}
.material-symbols-outlined {
    font-weight: 600;
    font-size: 26px;
}
.search{
    color: #fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(225, 225, 225, 0.5);
    position: fixed;
    z-index: 100;
}
header.white{
    background: #fff;
}
header.white .search{
    color: #000;
}
header.white .gnb span{
    color: #444;
    text-shadow: none;
    font-weight: 500;
}
header > div {
    width: 100%;
    height: 100%;
    padding: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
header > div > a {
    display: flex;
    align-items: center;
}
.inner > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.inner input[type=checkbox]{
    display: none;
}
.inner input[type=checkbox] + label > span.open {
    display: block;
    cursor: pointer;
}
.inner input[type=checkbox] + label > span.close {
    display: none;
}
.inner input[type=checkbox]:checked + label > span.open {
    display: none;
}
.inner input[type=checkbox]:checked + label > span.close {
    display: block;
    cursor: pointer;
    color: #fff;
}
.inner .gnb{
    height: 100%;
}
.inner .gnb a{
    display: flex;
    height: 100%;
    padding: 0 25px;
    align-items: center;
}
.inner > label{
    display: none;
    color: #fff;
}
header.white .inner > label{
    color: #000;
}
.gnb label{
    display: none;
}
.gnb .none{
    display: none;
    position: absolute;
    background: #fff;
    top: 60px;
    left: 0;
    width: 100%;
    height: 530px;
    flex-direction: row;
    padding: 30px;
}
.gnb .subbox{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: flex-start;
    padding: 0 150px;
}
.gnb .subbox h1{
    color: #1b1b63;
    width: 200px;
}
.gnb .sub{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}
.gnb .sub a{
    font-family: 'Noto Sans Kr';
    color: #444;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}
.gnb .sub a::after{
    content: '\21C0';
    display: block;
    opacity: 0;
}
.gnb .sub::after{
    content: '';
    background: url(../img/ulsan/gnb_img.png) 0 0 no-repeat;
    width: 345px;
    height: 345px;
    right: 100px;
    top: 0;
    position: absolute;
}
.gnb span{
    display: block;
    color: #fff;
    font-family: 'Noto Sans Kr';
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #000;
}
.sec01 img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    display: block;
}
.navi{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.navi img{
    width: 20px;
    height: 20px;
}
.navi p::before{
    content: '›';
    /* display: block; */
    font-size: 15px;
    color: #444;
}
.navi p{
    font-size: 15px;
    display: flex;
    gap: 8px;
}
.sec02{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    gap: 150px;
}
.sec02 h2{
    font-family: 'Noto Sans Kr';
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 2px solid #ddd ;
}
.sec02 .btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.btns span,
.btns button{
    font-size: 16px;
    padding: 5px 20px;
    border: none;
    color: #555;
    border-radius: 7px;
    cursor: pointer;
    background: #eee;
}
.btns span.on,
.btns button.on{
    background: #0043a7;
    color: #fff;
}
.sec02 .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    min-height: 700px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #bbb;
    height: 329px;
    flex: 1 1 30%;
    max-width: 378px;
}
.card.off{ display: none; }
.card img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 240px;
}
.card .note{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}
.card .title{
    font-family: 'Noto Sans Kr';
    font-weight: 500;
    font-size: 17px;
}
.card .addr{
    color: #444;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Noto Sans Kr';
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
}
.card .addr::after{
    content: '\21C0';
    display: block;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    background: #eee;
}
footer .bottom{
    width: 100%;
    padding: 60px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
footer .bottom .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .bottom .right > p{
    font-size: 14px;
}
footer .fotbox01{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
footer .fotbox01 a{
    color: #000;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
footer .fotbox01 a::before{
    content: '';
    width: 1px;
    height: 14px;
    display: block;
    border-left: 1px solid #777;
}
footer .fotbox01 a:first-child::before{
    display: none;
}
footer .fotbox02{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
footer .fotbox02 > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .fotbox02 p{
    font-size: 14px;
}
footer .fotbox02 > p{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Noto Sans Kr';
    color: #444;
}
@media(hover: hover) and (pointer: fine) {
    .inner .gnb:hover .none{
        display: flex;
    }
    .gnb .sub a:hover{
        background: #0042a5;
        color: #fff;
    }
    .gnb .sub a:hover::after{
        opacity: 100;
    }
}
@media screen and (max-width:1200px) {
    header > div{
        padding: 0 30px;
    }
    .gnb span{
        font-size: 20px;
    }
    .gnb .none{
        height: 470px;
    }
    .gnb .subbox{
        padding: 0 30px;
        justify-content: flex-start;
    }
    .gnb .subbox h1{
        font-size: 26px;
        width: 150px;
    }
    .gnb .sub a{
        font-size: 16px;
    }
    .navi{
        padding: 20px;
    }
    .sec02{
        padding: 20px;
        gap: 100px;
    }
    .card{
        max-width: initial;
        min-width: 270px;
    }
    footer .fotlogo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        border-top: 1px solid #ddd;
        background: none;
    }
    footer .bottom{
        flex-direction: column;
        padding: 20px;
    }
    footer .bottom .right{
        align-items: center;
    }
    footer .bottom .right > p{
        text-align: center;
    }
    footer .fotbox02 > p{
        font-size: 26px;
    }
}
@media screen and (max-width:1010px) {
    header{
        height: 50px
    }
    header > div{
        padding: 0 50px 0 20px;
    }
    header > div img{
        object-fit: cover;
        width: 150px;
    }
    .inner > label{
        display: block;
        position: absolute;
        top: 13px;
        right: 12px;
        z-index: 101;
    }
    .inner > ul{
        display: flex;
        position: fixed;
        height: 100vh;
        z-index: 100;
        width: 70%;
        max-width: 400px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 70px 20px;
        gap: 50px;
        flex-direction: column;
        background: #002864;
        right: -100%;
        transition: all 0.5s; 
    }
    .inner > input[type=checkbox]:checked ~ ul{
        right: 0;
    }
    .inner .gnb{
        height: initial;
        width: 100%;
        padding: 0;
    }
    .inner .gnb > a {
        display: none;
    }
    .inner .gnb label{
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size: 20px;
        font-family: 'Noto Sans Kr';
        padding: 5px;
        cursor: pointer;
    }
    .inner .gnb label::after{
        content: '▾';
        display: block;
        color: #efefff;
    }
    .inner .gnb:hover .none{
        display: none;
    }
    .gnb .none{
        display: none;
        position: initial;
        background: none;
        padding: 20px;
        height: initial;
    }
    .gnb .sub{
        gap: 10px;
        width: 100%;
        height: 100%;
    }
    .gnb .subbox{
        padding: 0;
        height: 100%;
    }
    .gnb .subbox h1{
        display: none;
    }
    .gnb .sub::after{
        display: none;
    }
    .gnb .sub a{
        color: #fff;
        border-radius: initial;
    }
    .gnb .sub a:hover{
        background: none;
    }
    .gnb > input[type=checkbox]:checked ~ .none{
        display: flex;
    }
}
@media screen and (max-width:750px) {
    .sec01 > img{
        height: 200px;
    }
    .sec02 h2{
        font-size: 25px;
    }
    .sec02 .btns{
        gap: 10px;
    }
    footer .fotbox01{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    footer .fotbox01 a{
        font-size: 13px;
    }
    footer .fotbox02{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    footer .fotbox02 p {
        font-size: 13px;
        text-align: center;
    }
    footer .fotbox02 > p{
        font-size: 20px;
    }
    footer .bottom .right > p{
        font-size: 12px;
    }
}